{% extends 'green/base.html' %}

{% block content %}

<ul class="list-articles">
	{% for p in posts %}
	<li>
		<div class="article-panel">
			<p class="first"> {{p.cat}}. </p>
			<p class="first"> &nbsp; Наличие:
				{% if p.available %}
				Да
				{% else %}
				Нет
				{% endif%}</p>
			<p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
		</div>

		{% if p.photo %}
		<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
		{% endif %}

		<h2>{{p.title}}</h2>
		{% autoescape on %}
		{{p.content|safe|linebreaks|truncatewords:30}}
		{% endautoescape %}
		<div class="clear"></div>


		{% if request.user.is_authenticated %}

		<form class="buynumber" method="post" action="/cart/add/{{ p.id }}/">
			{{ buy_form.as_p }}
			{% csrf_token %}
			<p> <input type="submit" class="buy" value="Купить"></p>
		</form>

		{% else %}
		<form action="login/">
			<input type="submit" class="buy" value="Купить">
		</form>

		{% endif %}


		<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать еще..</a></p>

	</li>
	{% endfor %}
</ul>
{% endblock %}